@font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Thin Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Medium Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded DemiBold Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Houschka Rounded';
    src: url('/assets/fonts/Houschka Rounded ExtraBold Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}